.add-property > form{
    margin: 50px;
    height: 78vh;
    
}

input, select{
    margin: 10px;
    padding: 5px;
}

button{
    padding: 5px;
    background-color: darkgrey;
}

*{
    background-color: lightgrey;
}