.properties{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "sidebar property-cards"
      "sidebar property-cards";
      background-color: lightgrey;
  }

.property-cards{
    display: flex;
    margin: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}


